{% extends "base.html.twig" %}
{% block title %} {{parent()}}/categorie{% endblock %}
{% block body %}
<h1>Bienvenue</h1>

<div>voici la categorie demandée, sont id est : {{id}} </div>
{% endblock %}
